
.meal {
	margin: 0 auto;
	width: 600px;
}
.mon-an1 {
	height: 490px;
	background-color: #ffffff;
	margin: 30px 35px;
	border-radius: 50px 15px 50px 15px;
}
.mon-an1 img {
	width: 430px;
	height: 300px;
	margin: 20px 47px;
	border-radius: 30px;
} 
.noi-dung {
	font-size: 15px;
    margin: 0 50px;
}